body {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 3px solid black;
    background-color: #f0f0f0; 
    font-family: 'Garamond', serif; 
    font-size: 17px;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: black;
    text-align: center;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td, .tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: 'Garamond', serif; 
    font-size: 17px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    font-weight: normal;
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top;
}

.center {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container {
    align-items: center;
    display: flex;
}

.image {
    flex: 0 0 65%;
    margin-right: 20px;
    margin-left: 10px;
}

.text {
    flex: 1;
}
